body {
  margin: 0;
  margin-bottom: 5%;
}

.Nav {
  background-color: rgb(196, 8, 8);
  padding: 0.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  position: sticky;
  z-index: 1;
  top:0;
}

.Nav h2{
  color: white;
  margin-left: 2%;
  display: inline-block;
  font-weight: 100;
  font-family:sans-serif;
  font-size: 22px;
  
}

.Nav input{
  background-color: rgb(196, 8, 8);
  font-size: 15px;
  font-weight: 100;
  border: 0.8px solid white;
  margin-left: 60%;
  padding-left: 7%;
  width:13%;
  height:45px;
  margin-top: .5%;
  border-color: rgb(58, 56, 56);
  
}
.Nav input::placeholder {
  color: rgb(47, 46, 46);
}

.Nav input:focus {
  outline: none;
  border-color: None;
}

.Nav .reddit-icon {
  color: white;
  font-size: 35px;
  margin: auto 0px;
  margin-left: 2%;
}


.search-form {
  width:14%;
  margin-left: 55%;
}

.search-form .search{
  width:90%;
}




.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}







.Sidebar {
  display: flex;
  width: 16%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  height: 100%;
  position: fixed;
}

.Sidebar .Sidebar-button{
  padding: 5px 0px;
  margin-bottom: 5px;
  margin-top: 36px;
  background-color: #ffffff;
  color: #414141;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 100;
}

.Sidebar #Hot_button{
  margin-top: 80px;
}

.Sidebar-button h3{
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial;
  margin:3px;
}

.Sidebar-button:hover{
  background-color: #f2f2f2;
}
.Sidebar-button:focus, 
.Sidebar-button.active {
  border: none;
  border-bottom: 1px solid red;
  margin: 36px 0px;
  width: 40%;
  margin-bottom: 10px;
}

.Sidebar-button:focus h3,
.Sidebar-button.active h3 {
  color: red; /* adjust the color for the active button text */
}

.Sidebar .grey-line{
  margin-top: 2px;
  
}

.Sidebar a {
  text-decoration: none;
  color: inherit;
}






.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

.Post {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  width: 40%;
  margin-left: 19%;
  margin-right: 0;
}

.Post .section {
  width:80%
}

.Post h4{
  font-weight: 100;
  font-size: 18px;
  color: gray;
  margin-bottom: 5px;
  color: #585757;
}

.Post #Username {
  color: rgb(0 186 230);
}

.Post h2{
  font-weight: 100;
}

.Post #comments{
  font-size: 16px;
  display: inline-block;
  margin-left:150px;
  font-weight: 100;
  font-size: 18px;
}

.Post h5{
  display:inline-block;
  font-weight: 100;
  font-size: 17px;
  color: #5f5d5d;
  margin-left: 10%;

}

.Post img{
  width:68%;
}

.Post #date {
  margin-top: 0px;
  font-size: 13px;
}

.grey-line {
  border: none;
  border-top: 1px solid #cdcdcd;
  margin: 36px 0px;
  width: 97%;
  margin-bottom: 1px;
}

.comment-button {
  padding: 10px 16px;
  background-color: #ffffff;
  color: #555353;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 44%;
  text-decoration: none;
}

.comment-button i {
  margin-right: 8px;
}

.comment-button:hover {
  background-color: #f2f2f2;
}

.comment-button:active {
  background-color: #ebebeb;
}







.Comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

.Comments hr{
  margin-bottom: 10%;
}

.Comments .comment{
  display: block;
  font-size: 16px;
  font-weight: 100;
  color: #655e5e;
  margin-top: 4%;
  margin-bottom: 6%;
  margin-left: 8%;
}

.Comments .image{
  width:6%;
  margin-right: 2%;
}

.Comments .userName{
  color: rgb(0 186 230);
}







 
